---
import Button from "@/shortcodes/Button";

const { title, image, url } = Astro.props;
---

<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <img class="w-full" src={image} alt="Sunset in the mountains">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{title}</div>
  </div>
  <div class="container align-middle">
    <Button label="Checkout on Etsy" link={url} />
  </div>
  <div class="px-6 pt-4 pb-2">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#etsy</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#product</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#fast24</span>
  </div>
</div>
