---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import { FaAddressCard, FaEnvelope, FaPhoneAlt } from "react-icons/fa";

const entry = await getEntryBySlug("pages", "gki");
const { Content } = await entry.render();
const { title, meta_title, description } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
>

<div class="container mt-20">
    <h1 set:html={markdownify(title)} class="h2 page-heading" />
    <div class="form-group">
        <label for="glucose">Glucose:</label>
        <input type="number" id="glucose" step="any" placeholder="Enter Glucose level">
    </div>
    <div class="form-group">
        <label for="glucose-unit">Unit:</label>
        <select id="glucose-unit">
            <option value="mmol">mmol/L</option>
            <option value="mgdl">mg/dl</option>
        </select>
    </div>
    <div class="form-group">
        <label for="ketone">Ketone (mmol/L):</label>
        <input type="number" id="ketone" step="any" placeholder="Enter Ketone level">
    </div>
    <div class="form-group"><br>
        <button onclick="calculateGKI()">Calculate GKI</button>
    </div>
    <div class="result" id="result"></div>
    <div class="content mt-20">
        <Content />
      </div>
</div>

<script type="text/javascript">
    function calculateGKI() {
        var glucose = parseFloat(document.getElementById('glucose').value);
        var glucoseUnit = document.getElementById('glucose-unit').value;
        var ketone = parseFloat(document.getElementById('ketone').value);

        if (glucoseUnit === 'mgdl') {
            glucose = glucose / 18; // Convert mg/dl to mmol/L
        }

        if (ketone <= 0) {
            document.getElementById('result').innerHTML = 'Ketone value must be greater than 0.';
            return;
        }

        var gki = glucose / ketone;
        document.getElementById('result').innerHTML = 'GKI: ' + gki.toFixed(2);
    }
</script>
</Base>
<style>
    .form-group {
        margin-bottom: 1rem;
    }

    .result {
        margin-top: 10px;
    }

    .gki-ranges {
        margin-top: 20px;
    }
</style>